.main_container{

    display:flex ;
    /* outline: auto; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8rem;
    
}
.page_container{
    
    /* border: 2px solid red; */
}
.vactor_image{
    max-width:100%;
    max-height:100%;

}